body {
    min-height: 100%;
    background-color: #029664;

}
body, div, form, input, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1 {
    position: absolute;
    margin: 0;
    font-size: 32px;
    color: #fff;
    z-index: 2;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}
form {
    width: 50%;
    justify-content: space-between;
    padding: 20px;
    border-radius: 6px;
    background: #e0d2c7;
    box-shadow: 0 0 10px 0 #6E1511; 
}
.banner {
    position: relative;
    background-color: #E62C31;
    height: 210px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
input, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
textarea {
    width: calc(100% - 12px);
    padding: 5px;
}
.item:hover p, input:hover::placeholder {
    color: #6E1511;
}
.item input:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #44b09e;
    color: #6E1511;
    ;
}
.item {
    position: relative;
    margin: 10px 0;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #E62C31;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #6E1511;
}
@media (min-width: 568px) {
    .name-item, .contact-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact-item .item {
        width: calc(50% - 8px);
    }
    .name-item input {
        width: calc(50% - 20px);
    }
    .contact-item input {
        width: calc(100% - 12px);
    }
}